<h1>TesteProd</h1>

{{!-- Form for adding products --}}
<form method="post" action="/add-product-page">
    <input type="radio" id="productTypeSelection" name="productType" value="pizza" checked>
    <label for="productTypeSelection">Pizza</label>
    <input type="radio" id="productTypeSelection" name="productType" value="bebida">
    <label for="productTypeSelection">Bebida</label><br>
    <label for="productName">Nome do produto:</label>
    <input type="text" name="productName" id="productName">
    <select name="productNoStockType" id="productNoStockType">
        <option value="Tradicional">Tradicional</option>
        <option value="Supreme">Supreme</option>
    </select>
    <label for="productName">Quantidade em estoque:</label>
    <input type="number" name="productQty" id="ProductQty">
    <label for="productName">Preço:</label>
    <input type="number" name="productPrice" id="productPrice">
    <input type="submit" value="Adicionar produto">
</form>

{{!-- List of added products that has no stock (pizzas) --}}
<h2>Pizzas adicionadas</h2>
{{#each noStockProducts}}
<section class="added-no-stock-products">
    <p>Nome: {{this.name}}</p>
    <p>Tipo: {{this.type}}</p>
    <p>Preço: R$ {{this.price}},00</p>

    <a href="/edit-product-page/pizza/{{id}}">Edit</a>
    <a href="/add-product-page/pizza/{{id}}">Delete</a>
</section>
{{/each}}

{{!-- List of added products that has stock (drinks) --}}
<h2>Bebidas adicionadas</h2>
{{#each stockProducts}}
<section class="added-stock-products">
    <p>Nome: {{this.name}}</p>
    <p>Quantidade: {{this.quantity}}</p>
    <p>Preço: R$ {{this.price}},00</p>

    <a href="/edit-product-page/bebida/{{id}}">Edit</a>
    <a href="/add-product-page/bebida/{{id}}">Delete</a>
</section>
{{/each}}

{{!-- <script>
    function autoPricing() {
        var selection = document.getElementById('productNoStockType').value;
        var price = document.getElementById('price');

        if (selection === 'Tradicional') {
            price.value = parseFloat('36');
        } else {
            price.value = parseFloat('');
        }
    }
</script> --}}