<h1>Editar Produto</h1>

<form method="post" action="/edit-product-page/{{productType}}/{{product.id}}">
    <input type="hidden" name="productType" value="{{productType}}">
    <label for="newProductName">Nome do produto:</label>
    <input type="text" name="newProductName" id="newProductName" value="{{product.name}}">
        <select name="newProductNoStockType" id="newProductNoStockType" value="{{product.type}}">
            <option value="Tradicional">Tradicional</option>
            <option value="Supreme">Supreme</option>
        </select>
        <label for="newProductQty">Quantidade em estoque:</label>
        <input type="number" name="newProductQty" id="newProductQty" value="{{product.quantity}}">
    <label for="newProductPrice">Preço:</label>
    <input type="number" name="newProductPrice" id="newProductPrice" value="{{product.price}}">
    <input type="submit" value="Finalizar">
</form>
